.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: pink;
  padding: 10px;
  width: 600px;  /* Fixed width */
  height: 600px; /* Fixed height */
}
.grid div {
  background-color: #f1f1f1;
  border: 1px solid black;
  text-align: center;
  aspect-ratio: 1;
  /* padding: 5px; */
  /* background-image: url("sample.jpeg"); */
  /* background-size: cover; */
}

.album {
    width: 100%;
    height: 100%;
    gap: 0;
    display: flex;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.list-item {
    padding: 3px;
    margin:  3px;
    background-color: red;
}

.list-item:hover {
    background-color: pink;
}
